@font-face {
    font-family: "pfagorasanspro-light";
    src: url("../fonts/PFAgoraSansPro/pfagorasanspro-light.eot");
    src: url("../fonts/PFAgoraSansPro/pfagorasanspro-light.eot") format("embedded-opentype"),
    url("../fonts/PFAgoraSansPro/pfagorasanspro-light.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/pfagorasanspro-light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfagorasanspro-bold";
    src: url("../fonts/PFAgoraSansPro/pfagorasanspro-bold.eot");
    src: url("../fonts/PFAgoraSansPro/pfagorasanspro-bold.eot") format("embedded-opentype"),
    url("../fonts/PFAgoraSansPro/pfagorasanspro-bold.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/pfagorasanspro-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "plumb-black";
    src: url("../fonts/plumb-black.ttf");
    src: url("../fonts/plumb-black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "pfagorasanspro-medium";
    src: url("../fonts/PFAgoraSansPro/pfagorasanspro-medium.eot");
    src: url("../fonts/PFAgoraSansPro/pfagorasanspro-medium.eot") format("embedded-opentype"),
    url("../fonts/PFAgoraSansPro/pfagorasanspro-medium.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/pfagorasanspro-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

 @font-face {
    font-family: "pfagorasanspro-reg";
    src: url("../fonts/PFAgoraSansPro/pfagorasanspro-reg.eot");
    src: url("../fonts/PFAgoraSansPro/pfagorasanspro-reg.eot") format("embedded-opentype"),
    url("../fonts/PFAgoraSansPro/pfagorasanspro-reg.woff") format("woff"),
    url("../fonts/PFAgoraSansPro/pfagorasanspro-reg.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

  @font-face {
  font-family: "pfagoraserifpro-black";
  src: url("../fonts/PFAgoraSerifPro/pfagoraserifpro-black.ttf");
  src: url("../fonts/PFAgoraSerifPro/pfagoraserifpro-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }  
