
.dd-float__left_min{
	float:left;
}
.margin-center{
	margin: 0 auto;
}
.text__center{
	text-align:center;
}

/* Шапка
=========================*/

.section__header{
	background: url(../img/smallh.jpg) no-repeat top center;
	width: 100%;
	background-size: cover;
}
.dd-header-top-wrap{
	background-color: rgba(#0f100f, 0.2);
	padding: 19px 0px 14px;
}
.dd-logo-txt{
	color: white;
	font-family: "pfagorasanspro-light";
	font-size: 10px;
	padding-left: 15px;
}
.dd-menu-wrap{
	a{
		color: white;
		font-family: "pfagorasanspro-light";
		font-size: 10px;
	}
}
.dd-green{
	span{
		padding: 6px 10px;
		background: url(../img/green.png) no-repeat top center;
		display: inline-block;
		width: 130px;
		height: 31px;
		color: #fefefe;
		font-family: "pfagorasanspro-reg";
		font-size: 9px;
	}
}
.number__style{
	color: #fff;
	font-family: "pfagorasanspro-medium";
	font-size: 15px;
}
.dd-links-h{
	color: #00baff;
	font-family: "pfagorasanspro-reg";
	font-size: 10px;
	text-decoration:underline;
}
.active{
	color:#B1AFAF;
	text-decoration:unset;
}
.dd-logo-wrap{
	width: 160px;
}
.rus-number{
	background: url(../img/russia.png) no-repeat left center;
	display:inline-block;
	padding-left: 20px;
	margin-left: 15px;
	margin-top: 6px;
}
.turkey-number{
	background: url(../img/turkey.png) no-repeat left center;
	display:inline-block;
	padding-left: 20px;
	margin-left: 15px;
	margin-top: 6px;
}
.dd-links-h-w{
	padding-left: 15px;
}
.dd-main-txt{
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;
	color: white;
	font-family: "russiamedium";
	// font-size: 46px;
	font-size:30px;
	line-height: 48px;
	text-transform: uppercase;
}
.dd-slogan{
	span{
		display: inline-block;
		background: url(../img/g.png) no-repeat center; 
		color: white;
		font-family: Akrobat;
		font-size: 22px;
	}
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
	.dd-main-txt{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 52px;
		text-align:left;
		font-size: 46px;
	}
}

@media only screen and (min-width : 992px) {
	.dd-float__left{
		float:left;
	}
	.dd-float__right{
		float:right;
	}
	.dd-menu-wrap{
		padding-left: 10px;
		ul{
			li{
				display: inline-block;
				margin-left: 5px;
				// margin-left: 40px;
			}
			li:last-child{
				margin-right: 30px;
			}
		}
	}
	.text__center{
		text-align: unset;
	}
	.dd-soc-ico{
		margin-top: -17px;
	}

}

@media only screen and (min-width : 1248px) {
	.dd-menu-wrap{
		ul{
			li{
				margin-left: 40px;
			}
			li:last-child{
				margin-right: 70px;
			}
		}
	}
}

