.section__db-garant-view{
	text-align: center;
}
.db-garant-h2{
	color: #222121;
	font-family: "russiamedium";
	font-size: 34px;
	padding-bottom: 30px;
}
.db-garant-p{
	span{
		font-family: "pfagorasanspro-bold";
		font-size: 19px;
		display: inline-block;
		padding-top: 8px;
		padding-bottom: 6px;
	}
	color: #151515;
	font-family: "pfagorasanspro-reg";
	font-size: 12px;
	padding-bottom: 20px;
	max-width:320px;
	width:100%;
	margin: 0 auto;
}
.db-garant-button{
	font-size: 14px;
	font-size: 14px;
	padding: 10px 36px;
	margin-top: 10px;
}
.section__db-vigoda-padding{
	padding: 35px 0 !important;
}

.section__db-vigoda-view{
	background: url("../img/who_bg.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
	color:#fff;
	font-family:"russiamedium";
}

.db-vigoda-h2{
	font-size: 34px;
	color:#fff;
	font-family:"russiamedium";
	padding-bottom: 38px;
}

.db-vigoda-box{
	border: 2px dashed rgba(#a2a2a2, 0.3);
	border-radius: 4px;
	padding: 40px 0;
	margin-top: 20px ;
	p{
		font-size: 19px;
		padding-top: 28px;	
	}
}
.db-vigoda-button{
	font-size: 14px;
	padding: 14px 50px;
	margin-top: 28px;
}


.db-company-h2{
	font-size: 34px;
	font-family:"russiamedium";
	margin-bottom: 14px;
}
.db-company-p{
	color: #141414;
	font-family: "pfagorasanspro-reg";
	font-size: 22px;
	line-height:25px; 
}
.db-company-box{
	position: relative;
	background: #fff;
	z-index: 100;
	box-shadow: 0 7px 38px rgba(0, 0, 0, 0.07);
	border-radius: 4px;
	padding:130px 0 30px 41px;
	margin-top: 35px;
	span{
		background: url("../img/about_logo.png")no-repeat top left;
		width:167px;
		height:73px;
		display: block;
		position: absolute;
		top: 20px;
		left:0;
	}
	h2{
		font-size: 34px;
		font-family:"russiamedium";
		margin-bottom: 24px;
	}
	color: #141414;
	font-family: "pfagorasanspro-reg";
	font-size: 22px;
	line-height:25px; 
}

.section__db-get_view{
	background: url("../img/sklad_bg.jpg")no-repeat center center;
	background-size: cover;
	text-align: center;
}
.db-get-one{
	margin-top: 20px;
	position: relative;
	img{
		height: 137px;
		width: 370px;
	}
	p{
		position: absolute;
		bottom: 30px;
		left:0;
		font-size: 20px;
		color:#fff;
		font-family:"russiamedium";
		padding-left: 55px;
	}
	.db-italy{
		display: inline-block;
		background: url("../img/italy_sklad.png")no-repeat;
		height: 28px;
	}
	.db-fin{
		display: inline-block;
		background: url("../img/finland_sklad.png")no-repeat;
		height: 26px;
	}
	.db-turk{
		display: inline-block;
		background: url("../img/turkey_sklad.png")no-repeat;
		height: 28px;
	}
}
.db-get-two{
	background: #fff;
	border-radius: 0px 0px 4px 4px;
	padding: 22px 32px;
	p{
		color: #1f1f1f;
		font-family: "pfagorasanspro-light";
		font-size: 13px;
		text-align: left;
		background: url("../img/map_sign.png")no-repeat top 10px left;
		padding-left: 40px;	
	}
}
.db-get-two-two{
	padding-bottom: 40px;
}
.db-get-two-three{
	padding-left: 20px !important;
}
.db-get-button{
	margin-top: 28px;
	padding: 12px 24px;
	margin-bottom: 20px;
}

.section__db-question-padding{
	padding: 20px 0;
}

.db-question-h2{
	color: #000;
	font-family: "russiamedium";
	font-size: 34px;
	text-align: center;
	margin-bottom: 26px;
}

.db-question-box{
	max-width: 320px;
	width: 100%;
	margin:0 auto;
}
.db-question-box-one{
	border-bottom:1px solid whitesmoke;
	padding-bottom: 14px;
	width:295px;
	margin: 0 auto;
}
.db-question-box-one-one{
	background-color: whitesmoke;
	width: 295px;
	padding: 22px 22px;
	margin-bottom: 20px;
	p{
		background: url("../img/green_tel.png")no-repeat top left;
		color: #000;
		font-family: "pfagorasanspro-reg";
		font-size: 15px;
		padding-left: 45px;
		span{
			font-size: 25px;
			margin-left: -44px;
			margin-top: 10px;
			display: block;
		}
	}
}
.db-question-box-one-two{
	background-color: whitesmoke;
	width: 295px;
	padding: 22px 22px;
	p{	
		background: url("../img/green_mail.png") no-repeat top left;
		color: #000;
		font-family: "pfagorasanspro-reg";
		font-size: 15px;
		padding-left: 45px;
		span{
			font-size: 25px;
			text-decoration: underline;
			margin-left: -44px;
			margin-top: 10px;
			display: block;

		}
	}
}
.db-question-box-two{
	margin-top: 26px;
	h2{
		color: #000;
		font-family: "russiamedium";
		font-size: 25px;
		text-align: center;
		padding-bottom: 20px;
	}
}
.db-question-box-two-one{
	float: left;
	input[type="text"]{
		width: 270px;
		height: 55px;
		margin-left: 23px;
		background: url("../img/tel.png") no-repeat center left 22px;
		padding-left: 47px !important;
	}
}
.db-question-box-two-two{
	float: left;
	margin-top: 20px;
	input[type="submit"]{
		margin-left: 23px;
		padding-right:64px;
		padding-left:64px; 
	}
}
.db-get-all-box{
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}
.db-up{
	display: none;
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.db-up{
		position: fixed;
		z-index: 1000;
		top:85%;
		right:0;
		text-align: center;
		opacity: 0.3;
		color: #000;
		font-family: "pfagorasanspro-reg";
		font-size: 13px;
		width:150px;
		display: none;
	}
	.db-up:hover{
		opacity: 1;
		font-weight: bold;
		transition:0.5s;
	}
}

@media only screen and (min-width : 992px) {

	.db-question-box-one{
		width:unset;
	}
	.db-question-box{
		max-width: 630px;
		width: unset;
	}
	.db-question-box-two-two{
		margin-top: unset;
	}
	.db-question-box-one-one{
		float: left;
		margin-bottom: unset;
	}
	.db-question-box-one-two{
		float: left;
		margin-left: 20px;
	}
	.db-get-all-box{
		max-width: unset;
		width: unset;
	}
	.section__db-get_padding{
		padding: 60px 0 30px 0 !important; 
	}
	.db-get-one{
		margin-top: unset;
	}
	.db-get-button{
		margin-bottom: unset;
	}
	.section__db-company-padding{
		padding: 50px 0 !important;
	}

	.section__db-vigoda-padding{
		padding: 50px 0 53px 0 !important;
	}


	.section__db-garant-padding{
		padding: 50px 0 !important;
	}
	.db-garant-p{
		padding-bottom: 0;
	}
	.db-garant-button{
		padding: 18px 36px;
	}
}

@media only screen and (min-width : 1248px) {
}

