.owl__help .owl-item {
	text-align: center;
}
.zakaz {
	padding-top: 25px;
	padding-bottom: 35px;
	background-image: url(/img/why_bg.jpg);
	background-size: cover;
}
.zakaz__title {
	color: white;
	font-family: "russiamedium";
	font-size: 20px;
	text-align: center;
	display: block;
	margin-bottom: 35px;
}
.button_z {
	padding: 10px 0px;
	display: block !important;
	margin: auto;
	margin-top: 15px;
	font-size: 14px;
	text-align: center;
}
.button_z1 {
	padding: 10px 10px;
	width: 100%;
}
.button_z2 {
	padding: 10px 44px;
	width: 100%;
}
.button_z3 {
	padding: 10px 10px;
	width: 100%;
}
.heading{
	color: black;
	font-family: "pfagorasanspro-bold";
	font-size: 19px;
	display: block;
	margin-bottom: 20px;
	text-align: center;

}
.zakaz__item {
	background: #fff;
	padding: 35px 15px 15px 15px;
	border-radius: 3px;
	position: relative;
	margin-bottom: 40px;

}
.zakaz__text {
	color: black;
	font-family: "pfagorasanspro-medium";
	font-size: 12px;
	text-align: center;
	font-weight: 400;
	line-height: 16px;
}

.zakaz__top-img {
	position: absolute;
	width: 50px;
	top: -25px;
	left: 50%;
	margin-left: -25px;
}
.section__help {
	padding-bottom: 50px;
}
h2.help {
	color: black;
	font-family: "russiamedium";
	font-size: 20px;
	text-align: center;
	display: block;
	margin-bottom: 15px;
}
.owl__help {
	background-color: whitesmoke;
	border: 1px solid #eee;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}
.owl-item .help__img-wrap {
	display: block;
	position: relative;
	margin: auto;
	height: 40px;
	img {
		position: absolute;
		top: 50%;
	}
}
.owl-next, .owl-prev {
	display: block !important;
}
.dg-left, .dg-right {
	display: block !important;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 10px solid #fff;
	position: absolute;
	z-index: 999;
}
.dg-left {
	background-image:url(/img/btn_prev.png);
	background-size: cover;
	left: -25px;
	top: 16%;
}
.dg-right {
	background-image:url(/img/btn_next.png);
	background-size: cover;
	right: -25px;
	top: 16%;
}

	.help__img-wrap1{
		width: 100px;
		img{
			height: 22px;
			margin-top: -11px;
		}
	}
	.help__img-wrap2{
		width: 40px;
		img{
			height: 30px;
			margin-top: -15px;
		}
	}
	.help__img-wrap3{
		width: 82px;
		img{
			height: 10px;
			margin-top: -5px;
		}
	}
	.help__img-wrap4{
		width: 80px;
		img{
			height: 30px;
			margin-top: -15px;
		}
	}
	.help__img-wrap5{
		width: 80px;
		img{
			height: 20px;
			margin-top: -10px;
		}
	}
	.section__help {
		padding-top: 30px;
	}
	
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.button_z1 {
		padding: 10px 10px;
		width: 300px;
	}
	.button_z2 {
		padding: 10px 44px;
		width: 300px;
	}
	.button_z3 {
		padding: 10px 10px;
		width: 300px;
	}
}

@media only screen and (min-width : 768px) {
	.zakaz {
		padding-top: 20px;
		padding-bottom: 25px;
	}
	.zakaz__item {
		padding: 40px 25px 15px 20px;
		width: 215px;
		margin-bottom: 0;
	}
	.button_z {
		font-size: 10px;
	}
	.button_z1 {
		padding: 10px 20px;
		width: 180px;
	}
	.button_z2 {
		padding: 10px 48px;
		width: 180px;
	}
	.button_z3 {
		padding: 10px 10px;
		width: 185px;
	}
	.heading {
		font-size: 12px;
		line-height: 12px;
	}
	.zakaz___text {
		font-size: 10px;
		line-height: 10px;
	}
	.zakaz__top-img {
		width: 45px;
		top: -24px;
		margin-left: -24px;
	}
	.zakaz__title {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.owl__help {
		width: 710px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.dg-left, .dg-right {
		top: 12%;
	}
	.owl-item .help__img-wrap {
		height: 35px;
	}
	.help__img-wrap1{
		width: 105px;
		img{
			height: 22px;
			margin-top: -11px;
		}
	}
	.help__img-wrap2{
		width: 38px;
		img{
			height: 32px;
			margin-top: -16px;
		}
	}
	.help__img-wrap3{
		width: 82px;
		img{
			height: 10px;
			margin-top: -5px;
		}
	}
	.help__img-wrap4{
		width: 84px;
		img{
			height: 30px;
			margin-top: -15px;
		}
	}
	.help__img-wrap5{
		width: 80px;	
		img{
			height: 20px;
			margin-top: -10px;
		}
	}
	.section__help {
		padding-top: 40px;
	}
}

@media only screen and (min-width : 992px) {
	.zakaz {
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.zakaz__title {
		font-size: 24px;
		margin-bottom: 60px;
	}
	.zakaz__item {
		padding: 65px 30px 35px 30px;
		width: 305px;
	}
	.button_z {
		font-size: 12px;
	}
	.button_z1 {
		padding: 10px 30px;
		width: 230px;
	}
	.button_z2 {
		padding: 10px 60px;
		width: 230px;
	}
	.button_z3 {
		padding: 10px 20px;
		width: 235px;
	}
	.heading {
		font-size: 16px;
		line-height: 16px;
		font-weight: 700;
	}
	.zakaz___text {
		line-height: 13px;
	}
	.zakaz__top-img {
		width: 65px;
		top: -32px;
		margin-left: -23px;
	}
	.owl__help {
		width: 940px;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.dg-left, .dg-right {
		top: 22%;
	}
	.help__img-wrap1{
		width: 140px;
		img{
			height: 30px;
			margin-top: -15px;
		}
	}
	.help__img-wrap2{
		width: 50px;
		img{
			height: 45px;
			margin-top: -22px;
		}
	}
	.help__img-wrap3{
		width: 115px;
		img{
			height: 14px;
			margin-top: -7px;
		}
	}
	.help__img-wrap4{
		width: 115px;
		img{
			height: 40px;
			margin-top: -20px;
		}
	}
	.help__img-wrap5{
		width: 115px;	
		img{
			height: 32px;
			margin-top: -16px;
		}
	}
	h2.help {
		font-size: 24px;
	}
	.section__help {
		padding-top: 85px;
	}
}

@media only screen and (min-width : 1170px) {
	.container.zakaz__container{
		width: 1170px;
	}
	.zakaz__item {
		padding: 65px 35px 35px 35px;
		width: 364px;
	}
	.button_z {
		font-size: 14px;
	}
	.button_z1 {
		padding: 10px 30px;
		width: 280px;
	}
	.button_z2 {
		padding: 10px 74px;
		width: 280px;
	}
	.button_z3 {
		padding: 10px 20px;
		width: 285px;
	}
	.heading {
		font-size: 19px;
		line-height: 19px;
		font-weight: 700;
	}
	.zakaz__text {
		font-size: 12px;
	}
	.zakaz__top-img {
		width: 80px;
		top: -40px;
		margin-left: -40px;
	}
	.zakaz__title {
		font-size: 34px;
		line-height: 34px;
	}
	.dg-left, .dg-right {
		top: 30%;
	}
	.owl__help .owl-item {
		text-align: justify;
	}
	.owl-item .help__img-wrap {
		display: block;
		height: 65px;
		margin: auto;
	}
	.help__img-wrap1{
		width: 175px;
		img{
			height: 38px;
			margin-top: -19px;
		}
	}
	.help__img-wrap2{
		width: 65px;
		text-align: center;
		img{
			height: 55px;
			margin-top: -28px;
		}
	}
	.help__img-wrap3{
		width: 140px;
		img{
			height: 18px;
			margin-top: -9px;
		}
	}
	.help__img-wrap4{
		width: 140px;
		img{
			height: 45px;
			margin-top: -22px;
		}
	}
	.help__img-wrap5{
		width: 130px;	
		img{
			height: 38px;
			margin-top: -19px;
		}
	}
	.dg-left, .dg-right {
		width: 75px;
		height: 75px;
		border: 12px solid #fff;
	}
	.owl-prev {
		background:url(/img/btn_prev.png) 0 0 no-repeat;
		left: -40px;
		top: 20%;
	}
	.dg-right {
		background:url(/img/btn_next.png) 0 0 no-repeat;
		right: -40px;
		top: 20%;
	}
	.owl__help {
		width: 1140px;
	}
	h2.help {
		font-size: 32px;
	}
	.owl-item .help__img-wrap {
		height: 65px;
	}
}

@media only screen and (min-width : 1248px) {
}

@media only screen and (min-width : 1440px) {
	
}

