.section__db-garant-view{
	text-align: center;
}
.db-garant-h2{
	color: #222121;
	font-family: "russiamedium";
	font-size: 34px;
}
.db-garant-p{
	span{
		font-family: "pfagorasanspro-bold";
		font-size: 19px;
		display: block;
	}
	color: #151515;
	font-family: "pfagorasanspro-reg";
	font-size: 12px;
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

