/* line 1, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.owl__help .owl-item {
  text-align: center; }

/* line 4, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.zakaz {
  padding-top: 25px;
  padding-bottom: 35px;
  background-image: url(/img/why_bg.jpg);
  background-size: cover; }

/* line 10, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.zakaz__title {
  color: white;
  font-family: "russiamedium";
  font-size: 20px;
  text-align: center;
  display: block;
  margin-bottom: 35px; }

/* line 18, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.button_z {
  padding: 10px 0px;
  display: block !important;
  margin: auto;
  margin-top: 15px;
  font-size: 14px;
  text-align: center; }

/* line 26, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.button_z1 {
  padding: 10px 10px;
  width: 100%; }

/* line 30, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.button_z2 {
  padding: 10px 44px;
  width: 100%; }

/* line 34, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.button_z3 {
  padding: 10px 10px;
  width: 100%; }

/* line 38, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.heading {
  color: black;
  font-family: "pfagorasanspro-bold";
  font-size: 19px;
  display: block;
  margin-bottom: 20px;
  text-align: center; }

/* line 47, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.zakaz__item {
  background: #fff;
  padding: 35px 15px 15px 15px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 40px; }

/* line 55, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.zakaz__text {
  color: black;
  font-family: "pfagorasanspro-medium";
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  line-height: 16px; }

/* line 64, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.zakaz__top-img {
  position: absolute;
  width: 50px;
  top: -25px;
  left: 50%;
  margin-left: -25px; }

/* line 71, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.section__help {
  padding-bottom: 50px; }

/* line 74, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
h2.help {
  color: black;
  font-family: "russiamedium";
  font-size: 20px;
  text-align: center;
  display: block;
  margin-bottom: 15px; }

/* line 82, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.owl__help {
  background-color: whitesmoke;
  border: 1px solid #eee;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative; }

/* line 91, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.owl-item .help__img-wrap {
  display: block;
  position: relative;
  margin: auto;
  height: 40px; }
  /* line 96, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl-item .help__img-wrap img {
    position: absolute;
    top: 50%; }

/* line 101, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.owl-next, .owl-prev {
  display: block !important; }

/* line 104, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.dg-left, .dg-right {
  display: block !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
  z-index: 999; }

/* line 113, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.dg-left {
  background-image: url(/img/btn_prev.png);
  background-size: cover;
  left: -25px;
  top: 16%; }

/* line 119, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.dg-right {
  background-image: url(/img/btn_next.png);
  background-size: cover;
  right: -25px;
  top: 16%; }

/* line 126, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.help__img-wrap1 {
  width: 100px; }
  /* line 128, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap1 img {
    height: 22px;
    margin-top: -11px; }

/* line 133, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.help__img-wrap2 {
  width: 40px; }
  /* line 135, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap2 img {
    height: 30px;
    margin-top: -15px; }

/* line 140, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.help__img-wrap3 {
  width: 82px; }
  /* line 142, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap3 img {
    height: 10px;
    margin-top: -5px; }

/* line 147, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.help__img-wrap4 {
  width: 80px; }
  /* line 149, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap4 img {
    height: 30px;
    margin-top: -15px; }

/* line 154, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.help__img-wrap5 {
  width: 80px; }
  /* line 156, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap5 img {
    height: 20px;
    margin-top: -10px; }

/* line 161, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
.section__help {
  padding-top: 30px; }

@media only screen and (min-width: 480px) {
  /* line 169, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z1 {
    padding: 10px 10px;
    width: 300px; }
  /* line 173, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z2 {
    padding: 10px 44px;
    width: 300px; }
  /* line 177, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z3 {
    padding: 10px 10px;
    width: 300px; } }

@media only screen and (min-width: 768px) {
  /* line 184, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz {
    padding-top: 20px;
    padding-bottom: 25px; }
  /* line 188, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__item {
    padding: 40px 25px 15px 20px;
    width: 215px;
    margin-bottom: 0; }
  /* line 193, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z {
    font-size: 10px; }
  /* line 196, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z1 {
    padding: 10px 20px;
    width: 180px; }
  /* line 200, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z2 {
    padding: 10px 48px;
    width: 180px; }
  /* line 204, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z3 {
    padding: 10px 10px;
    width: 185px; }
  /* line 208, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .heading {
    font-size: 12px;
    line-height: 12px; }
  /* line 212, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz___text {
    font-size: 10px;
    line-height: 10px; }
  /* line 216, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__top-img {
    width: 45px;
    top: -24px;
    margin-left: -24px; }
  /* line 221, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__title {
    font-size: 20px;
    margin-bottom: 40px; }
  /* line 225, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl__help {
    width: 710px;
    padding-top: 15px;
    padding-bottom: 15px; }
  /* line 230, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .dg-left, .dg-right {
    top: 12%; }
  /* line 233, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl-item .help__img-wrap {
    height: 35px; }
  /* line 236, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap1 {
    width: 105px; }
    /* line 238, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap1 img {
      height: 22px;
      margin-top: -11px; }
  /* line 243, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap2 {
    width: 38px; }
    /* line 245, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap2 img {
      height: 32px;
      margin-top: -16px; }
  /* line 250, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap3 {
    width: 82px; }
    /* line 252, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap3 img {
      height: 10px;
      margin-top: -5px; }
  /* line 257, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap4 {
    width: 84px; }
    /* line 259, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap4 img {
      height: 30px;
      margin-top: -15px; }
  /* line 264, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap5 {
    width: 80px; }
    /* line 266, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap5 img {
      height: 20px;
      margin-top: -10px; }
  /* line 271, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .section__help {
    padding-top: 40px; } }

@media only screen and (min-width: 992px) {
  /* line 277, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz {
    padding-top: 45px;
    padding-bottom: 50px; }
  /* line 281, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__title {
    font-size: 24px;
    margin-bottom: 60px; }
  /* line 285, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__item {
    padding: 65px 30px 35px 30px;
    width: 305px; }
  /* line 289, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z {
    font-size: 12px; }
  /* line 292, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z1 {
    padding: 10px 30px;
    width: 230px; }
  /* line 296, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z2 {
    padding: 10px 60px;
    width: 230px; }
  /* line 300, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z3 {
    padding: 10px 20px;
    width: 235px; }
  /* line 304, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .heading {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700; }
  /* line 309, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz___text {
    line-height: 13px; }
  /* line 312, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__top-img {
    width: 65px;
    top: -32px;
    margin-left: -23px; }
  /* line 317, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl__help {
    width: 940px;
    padding-top: 25px;
    padding-bottom: 25px; }
  /* line 322, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .dg-left, .dg-right {
    top: 22%; }
  /* line 325, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap1 {
    width: 140px; }
    /* line 327, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap1 img {
      height: 30px;
      margin-top: -15px; }
  /* line 332, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap2 {
    width: 50px; }
    /* line 334, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap2 img {
      height: 45px;
      margin-top: -22px; }
  /* line 339, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap3 {
    width: 115px; }
    /* line 341, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap3 img {
      height: 14px;
      margin-top: -7px; }
  /* line 346, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap4 {
    width: 115px; }
    /* line 348, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap4 img {
      height: 40px;
      margin-top: -20px; }
  /* line 353, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap5 {
    width: 115px; }
    /* line 355, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap5 img {
      height: 32px;
      margin-top: -16px; }
  /* line 360, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  h2.help {
    font-size: 24px; }
  /* line 363, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .section__help {
    padding-top: 85px; } }

@media only screen and (min-width: 1170px) {
  /* line 369, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .container.zakaz__container {
    width: 1170px; }
  /* line 372, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__item {
    padding: 65px 35px 35px 35px;
    width: 364px; }
  /* line 376, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z {
    font-size: 14px; }
  /* line 379, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z1 {
    padding: 10px 30px;
    width: 280px; }
  /* line 383, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z2 {
    padding: 10px 74px;
    width: 280px; }
  /* line 387, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .button_z3 {
    padding: 10px 20px;
    width: 285px; }
  /* line 391, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .heading {
    font-size: 19px;
    line-height: 19px;
    font-weight: 700; }
  /* line 396, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__text {
    font-size: 12px; }
  /* line 399, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__top-img {
    width: 80px;
    top: -40px;
    margin-left: -40px; }
  /* line 404, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .zakaz__title {
    font-size: 34px;
    line-height: 34px; }
  /* line 408, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .dg-left, .dg-right {
    top: 20%; }
  /* line 411, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl__help .owl-item {
    text-align: justify; }
  /* line 414, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl-item .help__img-wrap {
    display: block;
    height: 65px;
    margin: auto; }
  /* line 419, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap1 {
    width: 175px; }
    /* line 421, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap1 img {
      height: 38px;
      margin-top: -19px; }
  /* line 426, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap2 {
    width: 65px;
    text-align: center; }
    /* line 429, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap2 img {
      height: 55px;
      margin-top: -28px; }
  /* line 434, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap3 {
    width: 140px; }
    /* line 436, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap3 img {
      height: 18px;
      margin-top: -9px; }
  /* line 441, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap4 {
    width: 140px; }
    /* line 443, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap4 img {
      height: 45px;
      margin-top: -22px; }
  /* line 448, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .help__img-wrap5 {
    width: 130px; }
    /* line 450, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
    .help__img-wrap5 img {
      height: 38px;
      margin-top: -19px; }
  /* line 455, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .dg-left, .dg-right {
    width: 75px;
    height: 75px;
    border: 12px solid #fff; }
  /* line 460, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl-prev {
    background: url(/img/btn_prev.png) 0 0 no-repeat;
    left: -40px;
    top: 20%; }
  /* line 465, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .dg-left {
    left: -40px; }
  /* line 468, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .dg-right {
    background: url(/img/btn_next.png) 0 0 no-repeat;
    right: -40px;
    top: 20%; }
  /* line 473, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl__help {
    width: 1140px; }
  /* line 476, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  h2.help {
    font-size: 32px; }
  /* line 479, C:/OpenServer/domains/cargo.loc/css/style-dg.scss */
  .owl-item .help__img-wrap {
    height: 65px; } }

/*# sourceMappingURL=style-dg.css.map */